POSTGRES_DB=pos_restaurante
POSTGRES_USER=pos_user
POSTGRES_PASSWORD=change_me
POSTGRES_HOST=db
POSTGRES_PORT=5432
DATABASE_URL=postgresql+psycopg://pos_user:change_me@db:5432/pos_restaurante
APP_ENV=development
APP_NAME=pos-restaurante
APP_VERSION=0.1.0
API_CORS_ORIGINS=["http://localhost:8081"]
MEDIA_ROOT=uploads
SECRET_KEY=change-me-in-production
ACCESS_TOKEN_EXPIRE_MINUTES=720
INITIAL_RESTAURANT_NAME=El Tacazo
INITIAL_BUSINESS_NAME=El Tacazo
INITIAL_ADMIN_USERNAME=admin
INITIAL_ADMIN_PASSWORD=admin123
INITIAL_ADMIN_FULL_NAME=Administrador
